
.card__img--cup {
    background: url("../img/store/10001.png")no-repeat center;
    background-size:cover;
}

.card__img--vader{
    background: url("../img/store/10002.png")no-repeat center;
    background-size: cover;
}

.card__img--yoda{
    background: url("../img/store/10003.png")no-repeat center;
    background-size: cover;
}

.card__img--storm{
    background: url("../img/store/10004.png")no-repeat center;
    background-size: cover;
}

.card__img--baby {
    background: url("../img/store/10005.png")no-repeat center;
    background-size: cover;
}

.card__img--kylo {
    background: url("../img/store/10006.png")no-repeat center;
    background-size: cover;
}

.card__img--controlXbox{
    background: url("../img/store/10007.png")no-repeat center;
    background-size: cover;
}

.card__img--kitPs5 {
    background: url("../img/store/10008.png")no-repeat center;
    background-size: cover;
}

.card__img--miniNes{
    background: url("../img/store/10009.png")no-repeat center;
    background-size: cover;
}

.card__img--controlSwitch{
    background: url("../img/store/10010.png")no-repeat center;
    background-size: cover;
}

.card__img--kitXbox {
    background: url("../img/store/10011.png")no-repeat center;
    background-size: cover;
}

.card__img--gameBoyColor{
    background: url("../img/store/10012.png")no-repeat center;
    background-size: cover;
}

.card__img--camisaAtari {
    background: url("../img/store/10013.png")no-repeat center;
    background-size: cover;
}

.card__img--camisaSnes{
    background: url("../img/store/10014.png")no-repeat center;
    background-size: cover;
}

.card__img--figuraSonic {
    background: url("../img/store/10015.png")no-repeat center;
    background-size: cover;
}

.card__img--relojRetro {
    background: url("../img/store/10016.png")no-repeat center;
    background-size: cover;
}

.card__img--kitVr {
    background: url("../img/store/10017.png")no-repeat center;
    background-size: cover;
}

.card__img--peluchePikachu {
    background: url("../img/store/10018.png")no-repeat center;
    background-size: cover;
}